body,div {
  width: 100%;
}

#app {
  font-family: sans-serif;
}

.ban-search {
  width: 320 px;
}

.ban-search input {
  font-size:18px;
  width: 478px;
  padding: 6px;
  border: 1px solid #666;
}

ul.results {
  padding-left: 0px;
  margin-top: 0px
}
.ban-search li {
  color: #666;
  font-size: 14px;
  list-style-position:inside;
  list-style: none;
  display: block;
  width: 476px;
  border: #ddd solid;
  border-width: 0px 1px 1px 1px;
  /*height: 28px;*/
}

.ban-search li:hover, .ban-search li.active {
  background-color: #ddd;
}

.ban-search li:first-of-type {
  border-top-width: 1px;
}

.ban-search li a {
  text-decoration: none;
  display: block;
  color:inherit;
  padding: 6px;
}
