body,div {
  width: 100%;
}

#app {
  font-family: sans-serif;
}

.ban-search {
  width: 320 px;
}

.ban-search input {
  font-size:18px;
  width: 480px;
  padding: 6px;
}

ul.results {
  padding-left: 0px;
  margin-top: 0px
}
.ban-search li {
  color: #666;
  font-size: 14px;
  list-style-position:inside;
  list-style: none;
  display: block;
  width: 466px;
  padding: 6px;
  border: #ddd solid;
  border-width: 0px 1px 1px 1px;
}

.ban-search li:first-of-type {
  border-top-width: 1px;
}
